<p><%= link_to 'Back to lists', lists_path %> | <%= link_to 'Add a bookmark', new_list_bookmark_path(@list) %></p>
<h1><%= @list.name %>:</h1>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <li class="card-product-infos"><h2><%= bookmark.movie.title %></h2>
        <p><%= bookmark.comment %></p>
        <p>
          <%= link_to "Delete",
          bookmark_path(bookmark),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          %>
        </p>
      </li>
    </div>
  <% end %>
</ul>
